<div class="container">
  <div class="user-details">
    <h3>About me</h3>
    <p>{{site.user_description}}</p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I am not a designer, but I like to make good loking projects. I like to use Material UI, Bootstrap, Materialize, Foundation and more.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Currently working mostly with JavaScript (React and friends, Node.js), Python (Flask, Numpy, pandas, matplotlib, and more). Java (Spring, Glassfish, Jersey). Databases: MongoDB, PostgreSQL.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <p>Using a lot of git, webpack, gulp and the best editor ever: vim!</p>
    </div>
  </div>
</div>
