<div class="container">
  <div class="user-details">
    <h3>Featured Projects</h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="TSViz" src="{{ "/assets/img/tsviz.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>TSViz</h5>
      <li>Front end</li>
      <li>Data visualization</li>
      <p>The project involves Big Data, Data Streams, sentiment analysis, novelty, and more, with the purpose of making possible an analysis of messages published in social networks. It is intended to support the analysis of researchers and voters in relation to matters of public interest.</p>
      <a class="project-link" href="http://www.tsviz.com.br" target="_blank">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="four columns">
      <img alt="Vota Certo" src="{{ "/assets/img/votacerto.gif" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Vota Certo</h5>
      <ul>
        <li>Android</li>
        <li>Node.js</li>
      </ul>
      <p>Project that aims to engage people to learn more about the candidates in the elections by analyzing the user's opinion in an interactive way with data provided through social networks using the SCUP. Data is preprocessed to reduce user bias. As the result of the analysis, it is suggested a candidates list that the user possibly has greater affinity along with more information about the candidates.</p>
      <a class="project-link" href="https://www.sprinklr.com/pt-br/the-way/os-projetos-vencedores-hackathon-eleicoes-2016/" target="_blank">Check it out</a>
    </div>
  </div>
</div>
